
.sun-editor .se-wrapper .se-wrapper-wysiwyg {
    padding: 300px !important;
}

.sun-editor .se-btn-tray {
    margin-top: 100px !important;
    margin-left: 280px !important;
}

.sun-editor .se-dialog .se-dialog-inner .se-dialog-content {
    margin-top: 80px !important;
}